body{
    background: #1F2E35; 
}

.nav{
    
    justify-content: center;
    align-items: center;
}


.row{
    display: flex;
    flex-direction: row;
}


.content-container{
    max-width: 1120px;  
    justify-content: center;
    margin: auto;
}



.nav-bar-wrapper{
    width: 100%;
    justify-content: space-between;
}


.row-centered{
    align-items: center;
}


.app-logo{
    height: 40px;
    margin-right: 16px;
}


.app-title{
    font-family: 'Popins'sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 28px;
    color: #fff;
}


.nav-links-container a{
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 0 10px;
    }



    .button-outlined{
        background-color: #1F2E35;
        color: #FFFFFF;
        border-radius: 4px;
    height: 43px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 0 25px;
    white-space: pre;
    }
    
    .primary-button{
    background: #02897A;
    border-radius: 4px;
    height: 43px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    padding: 0 25px;
    white-space: pre;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    }
    
    
    .buttons-nav{
        margin: 0 12px;
    }
    
    .button-link{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #02897A;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre;
    }
    
    .play-icon{
        height: 17px;
        margin-right:9px ;
    }
    
    .swich-theme-button{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .switch-theme-icon{
        height: 24px;
        width: 24px;
    }
    
    .nav-bar-buttons-container{
        display: flex;
        justify-content: flex-end;
    }
    
    .menu-collapse{
        display: none;
    }

    .men-icon{
        display: none;
    }
    
    
    .menu-icon{
        width: 28px;
        height: 31px;
    }

.container-content{
    display: flex;
    flex-direction: row;
    }    

.titles-sec-1{
margin-bottom: 100px;
}

.titles-sec-1 .title-sec{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 51px;
color: #FFFFFF;
}

.titles-sec-1 .subtitle-sec{
    font-family: 'Poppins' sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}


.titles-sec-1  .subtitle-sec-2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;
text-align: center;
letter-spacing: 0.2px;
color: #FFFFFF;
}


.titles-sec-1 .subtitle-sec{
    font-family: 'Poppins' sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}

.titles-sec-1  .subtitle-sec-2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;
text-align: center;
letter-spacing: 0.2px;
color: #FFFFFF;
}

.wrap2{
    display: flex;
    flex-direction: row;
    gap: 73px;
}

.titles-sec-1{
    text-align: center;
}

.column-price{
    display: flex;
    flex-direction: column;
    text-align: center;
     width: 100%;
     
}

.cont{
    width: 322.65px;
    height: 456px;
    left: 145px;
    top: 4889px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px; 
}

.column-price h5{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 40px;
color: #22343D;
margin-top: 24px;
}


.column-price p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
color: #22343D;
margin-top: -30px;
}

.column-price .price{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.price p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 76px;
line-height: 100px;
text-align: center;
color: #02897A;
width: 60%;
}


.price .span1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #02897A;
    margin-left: -60px;
    margin-top: -5px;
}


.price .span2{
    font-family: 'Poppins' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1px;
    color: #AFAFAF;
    margin-top: 10px;
    margin-left: -12px;
}



.column-price{
    display: flex;
    flex-direction: column;
    text-align: center;
     width: 100%;
     
}

.column-price h5{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 40px;
color: #22343D;
margin-top: 24px;
}


.column-price p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
color: #22343D;
margin-top: -30px;
}

.column-price .price{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.price p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 76px;
line-height: 100px;
text-align: center;
color: #02897A;
width: 60%;
}


.price .span1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #02897A;
    margin-left: -60px;
    margin-top: -5px;
}


.price .span2{
    font-family: 'Poppins' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1px;
    color: #AFAFAF;
    margin-top: 10px;
    margin-left: -12px;
}

.last-part{
    width: 100%;
    margin-top: -20px;
    justify-content: space-between;
}

.last-part .p{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #22343D;

}


.order-btn{
width: 100%;
margin-top: 20px;
}

.column-price button{
    background: #02897A;
border-radius: 8px;
height: 44px;
width: 139px;
border-radius: 8px;
border: none;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
cursor: pointer;
}

.price-bg{
    background-color: #02897A;
}


.price-bg h5{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 40px;
color: #FFFFFF;
}


.price-bg p{
    color: #fff;
}

.price-bg .span1{
    color: #fff;
}

.price-bg .span2{
    color: #fff;
}

.price-bg .btn-order{
    background-color: #fff;
    color:#02897A; 
}


.titles-sec-2{
    margin-top: 180px;
    text-align: center;
   
}

.titles-sec-2 .subtitle-sec{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px; 
    color: #FFFFFF;
}

.titles-sec-2 .title-sec{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 51px;
color: #FFFFFF;
}

.titles-sec-2 .subtitle-sec1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #FFFFFF;
}

.btn-cont{
    display: flex;
    justify-content: center;
   margin-top: 50px;
}

.get-in{
    width: 224px;
height: 44px;
background: #02897A;
border-radius: 8px;
border: none;
cursor: pointer;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
}

.section-1-item h6{
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin: 20px 0 8px 0;
}

.section-1-item{
    padding: 0px;
}


.section-1-item h2{
    margin: 0;
}

.margin-btn{
    margin-bottom: 100px;
}


.content-left-col ,.content-right-col{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    }


.section-1-item h6{
font-weight: 600;
font-style: normal;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #FFFFFF;
margin: 20px 0 8px 0;
}

.first-section-right-col{
    width: 100%;
    height: auto;
}

.main-header{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;    
    color: #FFFFFF;
}

.subtitle{
    font-family: 'Poppins' sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: #FFFFFF;
}




.check-box-icon{
    height: 35px;
    width: 35px;
    margin-right: 30px;
}


.section-no-reverse{
    margin-top: 200px;
}


.section-1-item{
    margin-right: 50px;
    
}

.product-is-being{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 51px;
color: #FFFFFF;
margin-top: 250px;
margin-bottom: -100px;
}

.future-icon{
    margin-right: 15px;
}

.writing h6{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
display: flex;
margin-top: 0;
color: #FFFFFF;
}

.first-section-right-col{
    width: 528px;
height: 392.34px;
}



.frequently{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.frequently h2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 51px;
color: #FFFFFF;
}

.frequently p{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #FFFFFF;
}

.payments{
   margin-top: 100px;
}

.wrap-circle{
    display: flex;
    flex-direction: row;
}

.plus-circle{
    width: 24px;
    height: 24px;
}

.payments span{
    margin-left: 15px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
color: #FFFFFF;
text-align: center;
}



.pharagraph{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #FFFFFF;
}

.inpt{
    margin-left: 15px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
background-color:#22343D;
color: #FFFFFF;
border: none;
}

hr{
width: 100%;
border: 1px solid #474747;
}


.contain-this-2{
    width: 968px;
height: 345px;
background: #02897A;
border-radius: 32px;
margin: 160px auto;
}

.wrap3{
    display: flex;
    flex-direction: row;
}

.fifty{
    width: 60%;
    display: flex;
    flex-direction: column;
}


.fifty h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 151.4%;
    width: 75%;
    margin-left: 51px;  
    margin-top: 51px; 
    color: #FFFFFF;   
}

.fifty button{
    width: 150px;
height: 50px;
margin-left: 51px;
background: #FFFFFF;
border-radius: 8px;
border: none;
cursor: pointer;


font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
color: #02897A;
}


.fifty-2{
    width: 40%;
    display: flex;
}


.screen{
width: 351px;
height: 331px;
filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
border-radius: 5px;
flex: none;
order: 0;
flex-grow: 0;
margin-top: 14px;
margin-right: 36px;
}

.footer-wrap{
    display: flex;
    flex-direction: row;
    gap: 150px;
}




.footer-product{
    display: flex;
    flex-direction: column;
}

.ico-s{
    display: inline;
}

.ico-s1{
margin-right: 5px;
}

.ico-s2{
    margin-right: 5px;
}

.footer-wrap{
    display: flex;
    flex-direction: row;
    gap: 150px;
}


.inline-footer{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.inline-footer h3{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #FFFFFF;

}

.inline-footer pre{
font-family: 'Poppins' sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 35px;
color: #FFFFFF;
}

.footer-last{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #FFFFFF;
}

.input-txt{
    height: 48px;
width: 325px;
border-radius: 4px;
background: #FFFFFF;
border: 1px solid #BCD0E5;
}



.footer-s-btn{
    height: 39px;
width: 131px;
margin-top: 30px;
border-radius: 4px;
background: #02897A;
border-radius: 4px;
border: none;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #FFFFFF;
cursor: pointer;
}


.end{
    margin-top: 30px;
    text-align: center;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
color: #FFFFFF;
}



















@media screen and (max-width:890px) {  
    .men-icon{
        display: flex;
    }

    .content-container{
        padding: 0 50px;
    }

   .nav-bar-wrapper  .nav-bar-buttons-container {
    position: absolute;
    width: 100%;
    top:100px;
    left: 0;
    right: 0;
    flex-direction: column;
    border-radius: 4px;
    overflow-y:hidden ;
   }

   .nav-bar-buttons-container > .nav-links-container a{
    display: block;
    width: 100%;
    padding: 5px 0;
    
   }

   .nav-bar-buttons-container >.action-buttons-wrapper{
    padding: 10px 0;
    flex-direction: column;
   }

   .nav-bar-buttons-container >.action-buttons-wrapper >button{
    margin: 5px 0;
   }

   .nav-bar-buttons-container > .nav-links-container >a:hover{
    text-decoration: underline;
   }

   .nav > .menu-collapse:not(:checked) ~ .nav-bar-wrapper > .nav-bar-buttons-container{
    height: 0;
   }

   .nav > .menu-collapse:checked ~ .nav-bar-wrapper > .nav-bar-buttons-container{
    max-height: 100vh;
    height: auto;
   }


}

@media screen and (max-width:600px) {
    .wrap2{
        display: flex;
        flex-direction: column;
       align-items: center;
    }

  .section-no-reverse{
    display: flex;
    flex-direction: column;
  }
  
  .product-is-being{
    display: flex;
    text-align: center;
  }


  .section-1{
    justify-content: center;
    gap:30px
  }

  .first-section-right-col{
    margin-bottom: 50px;
    width: 302px;
height: 288.21px;
align-items: center;
  }


 .content-left-col{
    
    text-align:start;
    width: auto;
 }


 .contain-this-2{
    width: 70%;
    height: 100%;
  display: flex;
  flex-direction: column;
  
}

.wrap3{
    display: flex;
    flex-direction: column;
}


.wrap3 .fifty{
margin-left: 1px;
width: auto;
text-align: center;
letter-spacing: 1px;
}

.wrap3 button{
   margin-left: 120px;
}

.wrap3 .screen{
    margin-left: 13px;
    margin-top: 55px;
}


.footer-wrap{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:0 auto;
    margin-top: 0%;
}

.app-logo1{
    margin-left: 145px;
}


.inline-footer{
    margin-top: -120px;
    margin-bottom: -50px;
}

.input-txt{
    margin-left: 60px;
}

.end{
    margin-top: 100px;
}

.input-txt{
    margin: auto;
}

}